{{#each article}}
<form action='/admin/article' method='post'>
  <div class="form-group">
    <label for="articleId" class="control-label">Article ID:</label>
    <input type="text" class="form-control" id="articleId" value={{hnid}} name="articleId">
  </div>
  <div class="form-group">
    <label for="articleTitle" class="control-label">
      Title: <a href='{{url}}'>{{title}}</a>
    </label>
  </div>
  <div class="form-group">
    <label for="articleBody" class="control-label">Article Body</label>
    <textarea class="form-control" id="articleBody" rows="10">{{itembody}}</textarea>
  </div>
  <div class="form-group">
    <label for="stemwords" class="control-label">Stem Words</label>
    <textarea class="form-control" id="stemwords" rows="10">{{tbody}}</textarea>
  </div>
  <div class="form-group">
    <label for="category" class="control-label">Category:</label>
    <input type="text" class="form-control" value='{{category}}' id="category" name="category"/>
  </div>
  <div class="center-block">
  <button class="btn btn-primary" type="submit">Update</button>
  &nbsp;&nbsp;
  <a role="button" class="btn btn-primary" href="/admin/article/delete/{{hnid}}">Delete</a>
</div>
</form>

{{/each}}
