<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      {{#if list_empty}}
        <div class="alert alert-danger" role="alert">
          <p class="text-center">Nothing to show here!</p>
        </div>
      {{else}}
        <form>
          <table class="table">
            <thead class="thead-inverse">
                <th>#</th>
                <th>Title</th>
            </thead>
            <tbody>
                {{#each article_list}}
                  <tr>
                    <td>{{_id}}</td>
                    <td><a href='{{url}}' target='_blank'>{{title}}</a>
                      <br/>
                      {{#if category}}
                          {{{category}}}
                        {{else}} No Category {{/if}}
                      <br/>
                      <a role="button" class="btn btn-primary" href="/admin/article/edit/{{_id}}">Edit</a>
                      &nbsp;&nbsp;
                      <a role="button" class="btn btn-primary" href="/admin/article/delete/{{_id}}">Delete</a>
                      &nbsp;&nbsp;
                      <a role="button" class="btn btn-primary" href="/admin/article/body/{{_id}}">Get Body</a>
                      &nbsp;&nbsp;
                      <a role="button" class="btn btn-primary" href="/admin/article/stem/{{_id}}">Stem</a>
                      &nbsp;&nbsp;
                      <a role="button" class="btn btn-primary" href="/admin/article/later/{{_id}}">Later</a>
                    </td>
                  </tr>
                {{/each}}
            </tbody>
          </table>
        </form>
      {{/if}}
    </div>
  </div>
</div>
