{{#if msg}}
  <div class="alert alert-success" role="alert">
    <p class="text-center">{{msg}}</p>
  </div>
{{/if}}
{{#if err}}
  <div class="alert alert-danger" role="alert">
    <p class="text-center">{{err}}</p>
  </div>
{{/if}}
{{#each article}}
<form action='/admin/article' method='post'>
  <div class="form-group">
    <label for="hn_id" class="control-label">Article ID:</label>
    <input type="text" class="form-control" id="hn_id" value='{{hn_id}}' name="hn_id">
  </div>
  <div class="form-group">
    <label for="articleTitle" class="control-label">
      Title: <a href='{{url}}'>{{title}}</a>
    </label>
  </div>
  <div class="form-group">
    <label for="articleBody" class="control-label">Article Body</label>
    <textarea class="form-control" name="articleBody" id="articleBody" rows="10">{{itembody}}</textarea>
  </div>
  <div class="form-group">
    <label for="stemwords" class="control-label">Stem Words</label>
    <textarea class="form-control" name="stemwords" id="stemwords" rows="10">{{stemmed}}</textarea>
  </div>
  <div class="form-group">
    <label for="keywrds" class="control-label">Keywords</label>
    <textarea class="form-control" id="keywrds" name="keywrds" rows="3">{{keywords}}</textarea>
  </div>
  <div class="form-group">
    <label for="category" class="control-label">Category:</label>
    <input type="text" class="form-control" value='{{category}}' id="category" name="category"/>
  </div>
  <div class="center-block">
  <button class="btn btn-primary" type="submit">Update</button>
  &nbsp;&nbsp;
  <a role="button" class="btn btn-primary" href="/admin/article/delete/{{hn_id}}">Delete</a>
  &nbsp;&nbsp;
  <a role="button" class="btn btn-primary" href="/admin/article/body/{{hn_id}}">Get Body</a>
  &nbsp;&nbsp;
  <a role="button" class="btn btn-primary" href="/admin/article/stem/{{hn_id}}">Stem</a>
  &nbsp;&nbsp;
  <a role="button" class="btn btn-primary" href="/admin/article/later/{{hn_id}}">Later</a>
</div>
</form>

{{/each}}
